#server dir
server/node_modules
server/.env
server/uploads

#client dir
client/node_modules
client/.pnp
client/.pnp.js
client/coverage
client/build
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

#Admin server dir
Admin/server/node_modules
Admin/server/.env
Admin/server/uploads

#Admin client dir
Admin/frontend/node_modules
Admin/frontend/.pnp
Admin/frontend/.pnp.js
Admin/frontend/coverage
Admin/frontend/build
Admin/frontend/.DS_Store
Admin/frontend/.env.local
Admin/frontend/.env.development.local
Admin/frontend/.env.test.local
Admin/frontend/.env.production.local
Admin/frontend/npm-debug.log*
Admin/frontend/yarn-debug.log*
Admin/frontend/yarn-error.log*